.container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 300px;

}

.cell {
width: 100px;
height: 100px;
border: 1px solid black;

}

.blue{
color: blue;}


.rose{
    color: pink;
}